<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766014068058-oc4nnfbiv94iuaip8om28d1u71hn8voc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>766014068058-oc4nnfbiv94iuaip8om28d1u71hn8voc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ej21IQlLnTmbkGPH_zuDxicxFnHbWsE</string>
	<key>GCM_SENDER_ID</key>
	<string>766014068058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alrafayah.shooping</string>
	<key>PROJECT_ID</key>
	<string>alrafayah2026-a9c37</string>
	<key>STORAGE_BUCKET</key>
	<string>alrafayah2026-a9c37.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766014068058:ios:ece77fd135ad1834504f63</string>
</dict>
</plist>